/* basic */
$primary :  #3d82c5;
$secondary : #ff6000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bootstrap-icons';
}
body {
    &.no-scroll {
        overflow: hidden;
    }
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-500;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-300;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family:Roboto-400 ;
    src: url(../fonts/Roboto-Regular.ttf);
}
a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: Roboto-300;
}
.container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}
ul li {
    list-style: none;
}
.form-control{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    &:focus{
        outline: none;
    }
}
.button-submit{
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    background: #00aef0 ;
    font-size: 16px;
    color: white;
    &:hover{
        background: #009fdc;
    }
    span{
        margin-left: 4px;
    }
}
/* end-basic */
.icon-white {
    color: #ffff;
}
.header-spacing {
    display: flex;
    gap: 15px;
}
.header-main{
    &__bounce {
            height: 50px;
            overflow: hidden;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        .bounce{
            position: relative;
            p{
                color: white;
                position: absolute;
                top: 50%;
                white-space: pre;
                transform: translateY(-50%);
                animation: bouncing-text 20s linear infinite;
                z-index: 4;
            }
        }
    }
}
@keyframes bouncing-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.header-marquee {
    background-image: linear-gradient(to right, #353742 0, #353742 100%);
    &__container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    span {
        color: white;
    }
}
.header-top{
    padding: 6px 0px;
    background: #006fc7 ;
    &__flexContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .icon{
        font-size: 15px;
    }
    span { 
        margin-left: 6px;
        font-size: 16px;
        &:hover {
            opacity: .6;
        }
    }
}
.header-left {
    &__link {
        display: flex;
        align-items: center;
    }
 
}
.header-right {
     display: flex;
        align-items: center;
        justify-content: flex-end;
    &__flag {
        padding-left: 8px;
    }
    display: flex;
    &__sign{
        gap: 20px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
    .flag-lag{
        width: 34px;
        height: 20px;
        cursor: pointer;
    }
}
.header-bottom {
    
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    &__logo{
        width: 100%;
        max-width: 300px;
        height: -webkit-fill-available;;
        display: block;
    }
    .icon-navbar{
        width: 40px;
        height: 40px;
    }
    .list-menu{
        &__dirc{
            display: flex;
            column-gap: 20px;
        }
        &__bars{
            display: none;
            border-radius: 4px;
            width: 50px;
            height: 50px;
            background: $secondary;
            padding: 10px;
            cursor: pointer;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
            &.active {
                .toggle_bars{
                    border-top: none;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
                    &::before {
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
                        transform: rotate(45deg);
                        top: 10px;
                    }
                    &::after {
                        top: 10px;
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
                        transform: rotate(313deg);
                    }
                }
            }
            .toggle_bars{
                    top: 4px;
                    position: relative;
                    border-top: 3px solid white;
                    max-width: 100%;
                    display: block;
                    &::before,&::after {
                        content: "";
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 100%;
                        border-top: 3px solid white;
                    }
                    &::after {
                        top: 18px;
                    }
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            text-transform: uppercase;
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                transition: .3s;
            }
            span{
                color: black;
                font-family: Roboto-400;
                margin-top: 16px;
            }
            &:hover  {
                span{
                     color: $secondary;
                }
                &::before {
                    width: 100%;
                    border-bottom: 1px solid $secondary;
                }
            }
           &--sign{
            display: none;
           }
        }
    } 
}
.header-search{
    position: relative;
    background: url(../images/header-search/bg_header2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__top{
        padding: 30px 0;
        background: rgba(0, 0, 0, .25);
        color: #fff;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        &Item{
            .title{
                font-size: 28px;
                font-family: Roboto-Bold;
                letter-spacing: .7px;
                color: #00aef0;
            }
            .subTitle{
                font-size: 18px;
                font-family: Roboto-Bold;
                letter-spacing: 0.46px;
            }
            .description{
                font-size: 16px;
                &__top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &__title{
                    display: flex;
                    align-items: center;
                    font-family: Roboto-Bold;
                    margin-right: 10px;
                    font-size: 16px;
                    img {
                        transform: rotateY(180deg);
                        width: 30px;
                        height: 30px;
                        margin-right: 6px;
                    }
                }
                &__value{
                    color: #00aef0;
                    font-family: Roboto-Bold;
                    font-size: 16px;
                }
                &__bottom{
                    margin-top: 20px;
                    font-family: Roboto-Bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    &--item{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                &__divider{
                    height: 14px;
                    width: 2px;
                    background: #00aef0;
                }
            }
        }
    }
    &__form{
        .form-list{
            display: grid;
            grid-template-columns: 60% 40%;
            row-gap: 20px;
        }
        .form-group{
            &__icon{
                position: relative;
                input{
                    padding-left: 32px;
                }
                .icon-search {
                    font-size: 17px;
                    color: #000;
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                }
                .form-select {
                    width: 300px;
                }
            }
        }
        .icon-form {
            position: absolute;
            top: 50%;
            left: 7px;
            transform: translateY(-50%);
        }
        .form-format__icon{
            padding-left: 32px;
        }
    }
    .search-desc{
        display: flex;
        gap: 10px;
        &__item{
            background: rgba(0, 174, 240, .2);
            border-radius: 8px;
            gap: 8px;
            height: 36px;
            padding: 8px 14px;
            color: #fff;
            max-width: fit-content;
            b{
                color: #007bff;
            }
        }
    }
}
.btn-find{
    border-radius: 6px ;
    background: #00aef0;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    font-size: 14px;
    height: 42px;
    &:hover {
        background: #009fdc;
    }
}
.header-form{
    .search-bar {
    }
    .search-inner{
        padding: 30px 0px;
        .search-group{
            display: flex;
            align-items: center;
            position: relative;
            &:before {
                top: 50%;
            }
            &_float__item{
                width: 100%;
                .vieclam-select2+.select2-container .select2-selection{
                    border-radius: 0 6px 6px 0;
                    padding-top: 3px;
                    height: 42px;
                    font-size: 14px;
                    position: relative;
                    padding-right: 25px;
                }
            }
        }
        .form-group{
            border-radius: 6px;
            width: 100%;
            &>input,>select{
                height: 42px;
                border-radius: 6px;
                width: 100%;
            }
            &>input{
                box-shadow: none;
                outline: none;
                border: unset;
                padding-left: 35px;
            }
            &.noidung:before {
                content:"\f1cc"
            }
            &.nganhnghe:before {
                content: "\f28d";
            }
            &.diadiem:before {
                content: "\f3e8";
            }
            &.salary:before {
                content: "\f636";
            }
            &.ranks:before {
                content: "\f4e1";
            }
            &.type:before {
                content: "\f293";
            }
            &.experience::before{
                content: "\f224";
            }
        }
        &__list {
            display: grid;
            grid-template-columns: 3fr 2fr;
            column-gap: 20px;
        }
        &__item {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 12px;
            align-items: center;
            justify-content: space-between;
        }
        .form-group{
            &:before {
                transition: .1s all ease-in;
                margin-left: .255em;
                vertical-align: unset;
                border: 0;
                font-weight: 300;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5px;
                color: #444;
                font-size: .95rem;
            }
            select{
                appearance: none;
                padding-right: 25px;
            }
            &>input::placeholder{
                font-size: .95rem;
                color: #999;
            }
        }
    }
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        .select2-selection--multiple{
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            min-height: 32px;
            user-select: none;
            .select2-selection__rendered{
                
            }
        }
        
    }
    .select2,.select2-selection{
        border: none;
    }
    .select2-results__option[aria-selected] {
        position: relative;
    }
    .collapse-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;
    }
    .search-collapse{
        border-radius: 6px;
        padding: 16px;
        background: rgba(0, 174, 240, .2);
        margin-top: 25px;
    }
    .vieclam-select2{
        &+.select2-container{
            padding-left: 35px;
            width: 100% !important;
            .select2-selection--multiple{
                .select2-selection__choice{
                    margin-top: 0;
                    line-height: 1;
                    padding: 5px;
                }

                .select2-selection__rendered{
                    height: 37px;
                    line-height: 37px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    overflow-y: hidden;
                    overflow-x: auto;
                    .select2-search--inline{
                        width: 100%;
                        .select2-search__field{
                            margin-top: 0;
                            width: 100% !important;
                        }
                        .select2-search__field::placeholder{
                            color: #222;
                        }
                    }
                
                    //scrollbar
                    &::-webkit-scrollbar{
                        height: 4px;
                    }
                    &::-webkit-scrollbar-track{
                        background: #fff;
                    }
                    &::-webkit-scrollbar-thumb{
                        background: #acacac;
                    }
                    &::-webkit-scrollbar-thumb:hover{
                        background: #7b7b7b;
                    }
                }
            }
            .select2-selection{
                border-radius: 0;
                height: 37px;
                border-color: #ced4da;
                font-size: .95rem;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: 0;
                width: 100%; 
            }
            .select2-search--inline{
                .select2-search__field{
                    margin-top: 0;
                    width: 100% !important; 
                    padding-bottom: 14px;
                    &::placeholder{
                        color: #222;
                    }
                }
            }
            .select2-selection--single{
                .select2-selection__rendered{
                    line-height: 39px;
                    padding-left: 0;
                }
                .select2-selection__arrow{
                    top: 6px;
                    transition: .2s all ease-in;
                }
            }
        } 
    }
}
@media screen and (max-width: 1200px){
    .header-bottom{
        padding-top: 12px;
        padding-bottom: 12px;
        &__logo{
            max-width: 220px;
        }
        .list-menu{
            &__dirc{
                column-gap: 12px;
                font-size: 14px;
            }
            &__item {
                span {
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
        
    }
    .icon-navbar{
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .header-right{
        &__sign {
            display: none;
        }
    }
    .header-bottom{
       padding-top: 20px;
       padding-bottom: 20px;
       position: relative;
       &__logo{
        max-width: 250px;
       }
        .list-menu{
            &__bars {
                display: block;
            }
            &__dirc{
                transform: translateX(-100px);
            }
            &:has(.list-menu__bars.active){
                .list-menu {
                    &__dirc {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 100%;
                        left: 0px;
                        width: 100%;
                        height: 100vh;
                        padding-left: 10px;
                        padding-right: 10px;
                        background-color: rgb(180, 91, 91);
                        transform: translateX(0px);
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1).6s;
                        z-index: 10;
                    }
                    &__item {
                        display: flex;
                        align-items: baseline;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: white;
                        &:not(:last-child) {
                            border-bottom: 1px solid white;
                        }
                        &:hover span {
                            color: #ffffff9f;
                        }
                        span {
                            color: white;
                        }
                        &:hover{
                            &::before {
                                width: 100%;
                                border-bottom: none;
                            }
                        }
                        &--sign {
                            display: block;
                        }
                    }
                }
            }
            &__item{
                display: none;
            }
        }
    }
    .header-search{
        &__list{
            grid-template-columns: 40% 60%;
            &Item{
                .description{
                    &__divider{
                        display: none;
                    }
                    &__bottom{
                        gap: 6px;
                        margin-top: 10px;
                    }
                    &__svg{
                        display: none;
                    }
                }
                .title,.subTitle {
                    font-size: 20px;
                    letter-spacing: 0;
                }
                .subTitle{
                    font-size: 16px;
                }

            }
        }
    }
    .header-form{
        .collapse-list{
            column-gap: 10px;
        }
    } 
}
@media screen and (max-width: 767px) {
    .btn-find{
        width: 150px;
        margin-left: auto;
    }
    .header-form{
        .collapse-list{
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        .search-inner__list{
            grid-template-columns: repeat(1,1fr);
            row-gap: 10px;
        }
    }
    .header-spacing{
        gap: 10px;
    }
}
@media screen and (max-width : 600px) {
    .header-search{
        &__list {
            grid-template-columns: repeat(1,1fr);
        }
    }

}
@media screen and (max-width: 552px){
    .header-left{
        flex-wrap: wrap;
        row-gap: 4px;
    }
    .header-form{
        .collapse-list{
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
        }
    }
.header-bottom {
    &__logo {
        max-width: 166px;
    }
    .list-menu{
        &__bars{
            width: 40px;
            height: 40px;
            .toggle_bars{
                top: 0;
                &::after{
                    top: 16px;
                }
            }
        }
    }
}
.header-search{
    &__listItem{
        .description{
            &__title, &__value{
                font-size: 14px;
            }
        }
    }
}
}