/* basic */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bootstrap-icons';
  line-height: 1;
}

body.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-300;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-400;
  src: url(../fonts/Roboto-Regular.ttf);
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: Roboto-300;
}

.container {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.container-small {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

ul li {
  list-style: none;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  text-align: center;
}

.form-control {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

.form-control:focus {
  outline: none;
}

.button-submit {
  height: 42px;
  border-radius: 6px;
  cursor: pointer;
  background: #00aef0;
  font-size: 16px;
  color: white;
}

.button-submit:hover {
  background: #009fdc;
}

.button-submit span {
  margin-left: 4px;
}

/* end-basic */
/* modal  */
.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: hidden;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  -webkit-box-shadow: -5px -1px 12px 0px #ffffff42;
          box-shadow: -5px -1px 12px 0px #ffffff42;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal-img {
  margin-top: 10px;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #888;
  width: 50%;
  position: fixed;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.modal-content.active {
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon-white {
  color: #ffff;
}

.header-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header-main__bounce {
  height: 50px;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-main__bounce .bounce {
  position: relative;
}

.header-main__bounce .bounce p {
  color: white;
  position: absolute;
  top: 50%;
  white-space: pre;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: bouncing-text 20s linear infinite;
          animation: bouncing-text 20s linear infinite;
  z-index: 4;
}

@-webkit-keyframes bouncing-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes bouncing-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header-marquee {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #353742), to(#353742));
  background-image: linear-gradient(to right, #353742 0, #353742 100%);
}

.header-marquee__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-marquee span {
  color: white;
}

.header-top {
  padding: 10px 0px;
  background: #006fc7;
}

.header-top__flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-top .icon {
  font-size: 15px;
}

.header-top span {
  margin-left: 6px;
  font-size: 16px;
}

.header-top span:hover {
  opacity: .6;
}

.header-left__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
}

.header-right__flag {
  padding-left: 8px;
}

.header-right__sign {
  gap: 20px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.header-right .flag-lag {
  width: 34px;
  height: 20px;
  cursor: pointer;
}

.header-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__logo {
  width: 100%;
  max-width: 250px;
  height: -webkit-fill-available;
  display: block;
}

.header-bottom .icon-navbar {
  width: 40px;
  height: 40px;
}

.header-bottom .list-menu__dirc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-bottom .list-menu__bars {
  display: none;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  background: #ff6000;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.header-bottom .list-menu__bars.active .toggle_bars {
  border-top: none;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.header-bottom .list-menu__bars.active .toggle_bars::before {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.header-bottom .list-menu__bars.active .toggle_bars::after {
  top: 10px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  -webkit-transform: rotate(313deg);
          transform: rotate(313deg);
}

.header-bottom .list-menu__bars .toggle_bars {
  top: 4px;
  position: relative;
  border-top: 3px solid white;
  max-width: 100%;
  display: block;
}

.header-bottom .list-menu__bars .toggle_bars::before, .header-bottom .list-menu__bars .toggle_bars::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  border-top: 3px solid white;
}

.header-bottom .list-menu__bars .toggle_bars::after {
  top: 18px;
}

.header-bottom .list-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-bottom .list-menu__item::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-bottom .list-menu__item span {
  color: black;
  font-family: Roboto-400;
  margin-top: 16px;
}

.header-bottom .list-menu__item:hover span {
  color: #ff6000;
}

.header-bottom .list-menu__item:hover::before {
  width: 100%;
  border-bottom: 1px solid #ff6000;
}

.header-bottom .list-menu__item--sign {
  display: none;
}

.header-search {
  position: relative;
  background: url(../images/header-search/bg_header2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-search .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-search__top {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.header-search__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.header-search__listItem .title {
  font-size: 28px;
  font-family: Roboto-Bold;
  letter-spacing: .7px;
  color: #00aef0;
}

.header-search__listItem .subTitle {
  font-size: 18px;
  font-family: Roboto-Bold;
  letter-spacing: 0.46px;
}

.header-search__listItem .description {
  font-size: 16px;
}

.header-search__listItem .description__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-search__listItem .description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto-Bold;
  margin-right: 10px;
  font-size: 16px;
}

.header-search__listItem .description__title img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.header-search__listItem .description__value {
  color: #00aef0;
  font-family: Roboto-Bold;
  font-size: 16px;
}

.header-search__listItem .description__bottom {
  margin-top: 20px;
  font-family: Roboto-Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-search__listItem .description__bottom--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-search__listItem .description__divider {
  height: 14px;
  width: 2px;
  background: #00aef0;
}

.header-search__form .form-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  row-gap: 20px;
}

.header-search__form .form-group__icon {
  position: relative;
}

.header-search__form .form-group__icon input {
  padding-left: 32px;
}

.header-search__form .form-group__icon .icon-search {
  font-size: 17px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-search__form .form-group__icon .form-select {
  width: 300px;
}

.header-search__form .icon-form {
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-search__form .form-format__icon {
  padding-left: 32px;
}

.header-search .search-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header-search .search-desc__item {
  background: rgba(0, 174, 240, 0.2);
  border-radius: 8px;
  gap: 8px;
  height: 36px;
  padding: 8px 14px;
  color: #fff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.header-search .search-desc__item b {
  color: #007bff;
}

.btn-find {
  border-radius: 6px;
  background: #00aef0;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  font-size: 14px;
  height: 42px;
}

.btn-find:hover {
  background: #009fdc;
}

.header-form .search-inner {
  padding: 30px 0px;
}

.header-form .search-inner .search-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-form .search-inner .search-group:before {
  top: 50%;
}

.header-form .search-inner .search-group_float__item {
  width: 100%;
}

.header-form .search-inner .search-group_float__item .vieclam-select2 + .select2-container .select2-selection {
  border-radius: 0 6px 6px 0;
  padding-top: 3px;
  height: 42px;
  font-size: 14px;
  position: relative;
  padding-right: 25px;
}

.header-form .search-inner .form-group {
  border-radius: 6px;
  width: 100%;
}

.header-form .search-inner .form-group > input,
.header-form .search-inner .form-group > select {
  height: 42px;
  border-radius: 6px;
  width: 100%;
}

.header-form .search-inner .form-group > input {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: unset;
  padding-left: 35px;
}

.header-form .search-inner .form-group.noidung:before {
  content: "\f1cc";
}

.header-form .search-inner .form-group.nganhnghe:before {
  content: "\f28d";
}

.header-form .search-inner .form-group.diadiem:before {
  content: "\f3e8";
}

.header-form .search-inner .form-group.salary:before {
  content: "\f636";
}

.header-form .search-inner .form-group.ranks:before {
  content: "\f4e1";
}

.header-form .search-inner .form-group.type:before {
  content: "\f293";
}

.header-form .search-inner .form-group.experience::before {
  content: "\f224";
}

.header-form .search-inner__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-form .search-inner__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-form .search-inner .form-group:before {
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
  margin-left: .255em;
  vertical-align: unset;
  border: 0;
  font-weight: 300;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  color: #444;
  font-size: .95rem;
}

.header-form .search-inner .form-group select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 25px;
}

.header-form .search-inner .form-group > input::-webkit-input-placeholder {
  font-size: .95rem;
  color: #999;
}

.header-form .search-inner .form-group > input:-ms-input-placeholder {
  font-size: .95rem;
  color: #999;
}

.header-form .search-inner .form-group > input::-ms-input-placeholder {
  font-size: .95rem;
  color: #999;
}

.header-form .search-inner .form-group > input::placeholder {
  font-size: .95rem;
  color: #999;
}

.header-form .select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.header-form .select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-form .select2,
.header-form .select2-selection {
  border: none;
}

.header-form .select2-results__option[aria-selected] {
  position: relative;
}

.header-form .collapse-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-form .search-collapse {
  border-radius: 6px;
  padding: 16px;
  background: rgba(0, 174, 240, 0.2);
  margin-top: 25px;
}

.header-form .vieclam-select2 + .select2-container {
  padding-left: 35px;
  width: 100% !important;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__choice {
  margin-top: 0;
  line-height: 1;
  padding: 5px;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered {
  height: 37px;
  line-height: 37px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: auto;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  width: 100%;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field {
  margin-top: 0;
  width: 100% !important;
  padding-bottom: 2px;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::-webkit-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field:-ms-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::-ms-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::-webkit-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field:-ms-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::-ms-input-placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field::placeholder {
  color: #222;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
  height: 4px;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-track {
  background: #fff;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb {
  background: #acacac;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

.header-form .vieclam-select2 + .select2-container .select2-selection {
  border-radius: 0;
  height: 37px;
  border-color: #ced4da;
  font-size: .95rem;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  width: 100%;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
  padding-left: 0;
}

.header-form .vieclam-select2 + .select2-container .select2-selection--single .select2-selection__arrow {
  top: 6px;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.slick-slide img {
  border-radius: 6px;
}

.button-slick {
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #ffffff5e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-slick:hover {
  background: #fff;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.employer {
  margin-top: 20px;
}

.employer h3 {
  padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .header-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-bottom__logo {
    max-width: 220px;
  }
  .header-bottom .list-menu__dirc {
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
  .header-bottom .list-menu__item span {
    font-size: 15px;
    margin-top: 0;
  }
  .icon-navbar {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  h3 {
    font-size: 25px;
  }
  .header-right__sign {
    display: none;
  }
  .header-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .header-bottom__logo {
    max-width: 250px;
  }
  .header-bottom .list-menu__bars {
    display: block;
  }
  .header-bottom .list-menu__dirc {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__dirc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100vh;
    padding: 10px;
    padding-bottom: 0;
    background-color: #b45b5b;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    z-index: 10;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item:hover span {
    color: #ffffff9f;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item span {
    color: white;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item:hover::before {
    width: 100%;
    border-bottom: none;
  }
  .header-bottom .list-menu:has(.list-menu__bars.active) .list-menu__item--sign {
    display: block;
  }
  .header-bottom .list-menu__item {
    display: none;
  }
  .header-search__list {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .header-search__listItem .description__divider {
    display: none;
  }
  .header-search__listItem .description__bottom {
    gap: 6px;
    margin-top: 10px;
  }
  .header-search__listItem .description__svg {
    display: none;
  }
  .header-search__listItem .title,
  .header-search__listItem .subTitle {
    font-size: 20px;
    letter-spacing: 0;
  }
  .header-search__listItem .subTitle {
    font-size: 16px;
  }
  .header-form .collapse-list {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .modal-content {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .btn-find {
    width: 150px;
    margin-left: auto;
  }
  .header-form .collapse-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .header-form .search-inner__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .header-spacing {
    gap: 10px;
  }
  .modal-content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header-search__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 552px) {
  h3 {
    font-size: 20px;
  }
  .header-left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 4px;
  }
  .header-form .collapse-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .header-bottom__logo {
    max-width: 166px;
  }
  .header-bottom .list-menu__bars {
    width: 40px;
    height: 40px;
  }
  .header-bottom .list-menu__bars .toggle_bars {
    top: 0;
  }
  .header-bottom .list-menu__bars .toggle_bars::after {
    top: 16px;
  }
  .header-search__listItem .description__title, .header-search__listItem .description__value {
    font-size: 14px;
  }
  .modal-content {
    width: 94%;
    padding: 10px;
    padding-top: 5px;
  }
}
/*# sourceMappingURL=main.css.map */